doctype html
html
head
  title
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='stylesheet', href='theme.css')
  link(rel='stylesheet', href='dist/mkModal.css')
  script(src="lib/angular/angular.min.js")
  script(src="lib/jquery/dist/jquery.min.js")
  script(src='dist/mkModal.js')
  script(src='simpleExample.js')

body(ng-app='demo', ng-controller='demoCtrl')
  header
    h1 Modal Effect
      span Simple Example

  button#modalTriggerBtn Open Modal

  mk-modal(trigger-element-id="modalTriggerBtn", close-element-id="modalCloseBtn", data="data.modalData")
    h3 Modal Dialog
    div
      p This is a modal window. You can do the following things with it:
      ul
        li
          strong Read:
          |  modal windows will probably tell you something important so don't forget to read what they say.
        li
          strong Look:
          |  a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.
        li
          strong Close:
          |  click on the button below to close the modal.
      button#modalCloseBtn Close me!
